<html>
    <head>
        <meta charset="utf8" />

        <!--LOAD IN THE HTML BECAUSE I WANT THIS CSS AS GLOBAL-->
        <link rel="stylesheet" href="/assets/css/styles.css" />
    </head>
    
    <!--LOAD DA TEMPLATE-->
    <header style="margin-bottom:200px;"></header>


    <!--LOAD BODY TEMPLATE-->
    <h3>Books</h3>
    <!--ul>
        <li *ngFor="let book of books">{{book.title}} - {{book.year}}</li>
    </ul-->

    <ul>
        <li *ngFor="let about of abouts">{{about.tituloH1}}</li>
    </ul>
  
    <!--LOAD DA TEMPLATE-->
    <footer></footer>

</html>