<div id="header" class="hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<a href="//www.xcaret.com.mx/"><img class="logo" src="//www.xcaret.com.mx/img/logos/xcaret.png"></a>
			</div>
			<div class="col-sm-3"></div>
			<div class="col-sm-5 redes">
				<ul class="pull-right">
					<li class="margin-right"><a href="#" target="_blank" class="facebook"><i class="icon-facebook-1"></i></a></li>
					<li class="margin-right"><a href="#" target="_blank" class="twitter"><i class="icon-twitter-1"></i></a></li>
					<li class="margin-right"><a href="#" target="_blank" class="youtube"><i class="icon-youtube"></i></a></li>
					<li class="margin-right"><a href="#" target="_blank" class="gplus"><i class="icon2-google"></i></a></li>


					<li class="langs">
						<a href="#" data-toggle="dropdown">
							<img src="//www.xcaret.com.mx/img/flags/espaniol.png" alt="" class="mx-flag"><span class="icon-down-open arrow-langs"></span>
						</a>

					</li>
					<li class="langs divisa-selector">
						<a href="#" data-toggle="dropdown">
							<span>MXN</span><span class="icon-down-open arrow-langs"></span>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-8 submenu">
				<ul class=" pull-right">
					<li class="margin-right"><a href="//www.xcaret.com.mx/"><i class="icon-inicio"></i> Inicio</a></li>
					<li><a href="//www.xcaret.com.mx/preguntas-frecuentes.php"><i class="icon-info"></i> Preguntas frecuentes</a></li>
					<li class="margin-right"><a href=""><i class="icon-usuario"></i> Accede a tu Cuenta</a></li>
					<li><a href=""><i class="icon-carrito"></i> Ver carrito</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<nav class="navbar" role="navigation">
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul class="nav navbar-nav" id="navbar-main">
								<li class="mnu-quiero border-menu">
									<a class="main-menu-item">
										<b>QUIERO</b>
									</a>
								</li>
								<li class="dropdown border-menu">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Saber más de<br><b>XCARET</b></a>
								</li>
								<li class="dropdown border-menu">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Comprar mi<br>entrada a <b>XCARET</b></a>
								</li>
								<li class="dropdown border-menu">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Ver las Atracciones<br><b>XCARET</b></a>
								</li>
								<li class="dropdown border-menu">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">AHORRAR MÁS</a>
								</li>
								<li class="dropdown">
								</li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
