    <nav class="navbar-sm navbar-inverse head-nav">

        <div class="font-navbar">
            <i class="fa fa-flag fa-lg fa-inverse"></i> IDIOMA
        </div>
            
        <div class="font-navbar w-sep">
            MXN - $ 
        </div>

        <div class="font-navbar w-sep">
            <i class="fa fa-shopping-cart fa-lg fa-inverse"></i> CARRITO <span class="badge-navbar">2</span> 
        </div>

        <div class="font-navbar w-sep">
            <i class="fa fa-user fa-lg"></i> ACCEDER / REGISTRAR 
        </div>

        <div class="font-navbar w-sep">
            <i class="fa fa-phone fa-lg"></i> ATENCIÓN AL CLIENTE
        </div> 
    </nav>

    <div class="jumbotron head-nav">
        <div class="row">
            <div class="col-sm-4">
                <a><img class="logo" src="/assets/img/logos/xcaret.png"></a>
            </div>

            <div class="col-sm-8 submenu" id="social-media">
                <ul class=" pull-right">
                    <li class="margin-right"><i class="fa fa-home fa-lg"></i> Inicio</li>
                    <li class="margin-right"><i class="fa fa-camera fa-lg"></i> Mis Fotos</li>
                    <li class="margin-right"> Preguntas frecuentes</li>

                    <li class="margin-right"><i class="fa fa-facebook fa-lg"></i></li>
                    <li class="margin-right"><i class="fa fa-twitter fa-lg"></i></li>
                    <li class="margin-right"><i class="fa fa-instagram fa-lg"></i></li>
                    <li class="margin-right"><i class="fa fa-youtube-play fa-lg"></i></li>
                    <li class="margin-right"><i class="fa fa-pinterest-p fa-lg"></i></li>
                </ul>
            </div>
        </div>
        
        <div class="clear25"></div>

        <nav class="navbar" role="navigation" class="center">
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav" id="navbar-main">
                    <li class="mnu-quiero border-menu">
                        <a class="main-menu-item">
                            <b>QUIERO</b>
                        </a>
                    </li>
                    
                    <li class="dropdown border-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown">Saber más de<br><b>XCARET</b></a>
                    </li>
                    <li class="dropdown border-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown">Comprar mi<br>entrada a <b>XCARET</b></a>
                    </li>
                    <li class="dropdown border-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown">Ver las Atracciones<br><b>XCARET</b></a>
                    </li>
                    <li class="dropdown border-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown">AHORRAR MÁS</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div><!--jumbrotron-->
