<div class="container">
 	
 	<div class="clear25"></div>
	<div class="row">
		
		<div class="anchor-msi" type="button" data-toggle="modal">
			
			<div class="col-xs-12 col-sm-4 msi-title">
				<h3>HASTA <span class="big">9</span> MESES SIN INTERESES<br><span class="link">Ver opciones</span></h3>
			</div>
		    
		    <div class="col-xs-12 col-sm-8 msi-logos">
		        	<div class="row">
		            	<img class="img-responsive hidden-xs" src="/assets/img/Uuf32tIVs.webp" alt="">
		            	<div class="clear10 visible-xs"></div>
		            	<p class="legales">Con los principales bancos y tarjetas emitidas en México. *No aplica con Paypal</p>
		            </div>
		    </div>
		</div>
		<div class="clear10"></div>

	</div>
</div>


 	   <div class="bg-footer ">
		<div class="container">
			<div class="row">
				<div class="clear25"></div>
				<center class="col-xs-12">
					<a><img id="exx" src="/assets/img/H1BZdDleE.png" alt=""></a>
					<div class="clear25"></div>
				</center>

				<center class="col-sm-4 col-xs-6">
					<a><img id="xelha" src="/assets/img/-RGtl0y7M.png" alt=""></a>
					<div class="clear25"></div>
				</center>

				<center class="col-sm-4 col-xs-6">
					<a><img id="xplor" src="/assets/img/l0apH3JQE.webp" alt=""></a>
					<div class="clear25"></div>
				</center>

				<div class="clearfix visible-xs"></div>
				<center class="col-sm-4 col-xs-6">
					<a><img id="xichen" src="/assets/img/ZlxXQls0I.webp" alt=""></a>
					<div class="clear25"></div>
				</center>

				<div class="clearfix hidden-xs"></div>
				<center class="col-sm-4 col-xs-6">
					<a><img id="xoximilco" src="/assets/img/u6hWtBxu4.webp" alt=""></a>
					<div class="clear25"></div>
				</center>

				<div class="clearfix visible-xs"></div>
				<center class="col-sm-4 col-xs-6">
					<a><img id="xenotes" src="/assets/img/nxjJSWDBM.webp" alt=""></a>
					<div class="clear25"></div>
				</center>

				<center class="col-sm-4 col-xs-6">
					<a><img class="xenses" id="xenses" src="/assets/img/Yld2w7r3w.png" alt=""></a>
					<div class="clear25"></div>
				</center>
			</div>
		</div>
	</div>