
<div class="head-container sidebar">
                        
    <div class="hidden-xs" id="affixExx">
        <div class="booking-secc">
            <div class="row">
                <div class="col-sm-12">
                    <div class="titulo-booking">
                        <h3>¡Reserva Hoy!</h3>
                        <h5>Hasta un 15% de descuento<sup>*</sup></h5>
                    </div>
                </div>
            </div>

            <div class="book-box">            
                <div class="loading" style="display: none;">
                    <img src="/assets/img/loading2.gif" alt="loading">
                </div>
                
                <div class="book" style="display: block;">                
                    <label class="ltrans">
                        <input name="optTrans" id="optTrans" type="checkbox" value="tour"> Agregar Transportación
                    </label>

                    <label class="lopcional" style="display:none;"></label>
                    <select id="divisas" class="divisas"></select>
                    <select id="ticket" class="ticket"></select>
                    <select id="ubicacion" class="ubicacion"></select>
                    <select id="locacion" class="locacion"></select>
                    
                    <input type="text" readonly="readonly" value="Tu Visita" id="feVisita" class="feVisita hasDatepicker">
                        <img class="ui-datepicker-trigger" src="/assets/img/calendar3.png" alt="..." title="...">
                    
                    <select id="horario" class="horario"></select>
                    <select id="paxAdulto"></select>
                    <select id="paxMenor"></select>
                    <input id="comprar" class="btn-compra" type="button" value="Comprar" disabled="disabled">
                    <a id="comprarLink" style="display:none">link-compra</a>
                </div>
            </div>
  
            <p><small>Precios sujetos a cambios sin previo aviso. Aplican restricciones.</small></p>
        </div>

        <div class="clear25"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="titulo-badges">
                    <span class="fittext">¿Por qué reservar con nosotros?</span>
                </div>
                
                <div class="clear"></div>
                <div class="badges">
                    <a><img src="/assets/img/svg/porque-comprar.svg" alt="Por que comprar con nostros"></a>
                    <a class="btn-leer pull-right">Más Información <i class="icon-leer"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>